# Dart/Flutter targets
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android/iOS specific
.gradle/
local.properties
*.keystore
*.jks

# IDE specific
.idea/
*.iml
.vscode/

# Project specific
.aiexclude